{% load static %}
{% csrf_token %}






<div class="cart-page-head"><button onclick="closeCart()"><i class="bi bi-arrow-left"></i></button><span><font>{{ cartItems.count }}</font>&nbsp;Корзина</span></div>
        <div class="cart-page-body">

            {% if not cartItems%}
                        <h4 style="text-align: center;padding-top: 50px;color: #69cc3e">Корзина пустая</h4>
                    {% endif %}
            {% for cartItem in cartItems %}







            <div class="cart-item">
                <div class="cart-item-img"><img src="{{ MEDIA_URL }}{{ cartItem.product.image.url }}"></div>
                <div class="cart-item-body">
                    <p>{{ cartItem.product.name }} </p>
                    <span>{{ cartItem.product.price }}</span>
                    <span class="value">{{ cartItem.sumtotal }}</span>
                </div>
                <div class="cart-item-count">
                    <button  hx-get="{% url 'delete_card' cartItem.product.id %}" hx-target="#cart-products">Удалить</button>
                   <span class="value">{{ cartItem.quantity }}</span>
                    <div class="plus-minus">
                        <button hx-get="{% url 'minus_card' cartItem.product.id %}" hx-target="#cart-products" ><i class="bi bi-dash"></i></button>
                        <button hx-get="{% url 'plus_card' cartItem.product.id %}" hx-target="#cart-products"><i class="bi bi-plus"></i></button>
                    </div>
                </div>
            </div>
        {% endfor %}

        </div>
        <div class="cart-page-foot">
            <div class="cart-page-total"><p>Цена:&nbsp;</p><span>{{ cartUser.total_price }}</span></div>
             <a href="{% url 'Order_check' %}"><div class="cart-pay"><button>Оформить заказ</button></div></a>
        </div>