{% extends 'BaseClient.html' %}
{% load static %}
{% csrf_token %}

{% block title %}Продукты{% endblock %}

{% block content %}
<main>
    <div class="banner">
        <div class="banner-1">
            <h1>{{category.title }}</h1>
            <span>{{ category.description }}</span>
        </div>
        <div class="banner-2">
            <div class="slide-1"><img src="{{ MEDIA_URL }}{{ category.image_link2.url }}"></div>
            <div class="slide-2"><img src="{{ MEDIA_URL }}{{ category.image_link1.url }}"></div>
            <div class="slide-3">3</div>
        </div>
    </div>
    <div class="title-category-in">
        <span>{{ category.name }}</span>
    </div>


    <div class="category-item">

        {% for product in  products %}
        <div class="item-product" onclick="productInCart()">
            <a href="{% url 'product_info' product.id %}"><div class="item-img"><img src="{{ MEDIA_URL }}{{ product.image.url }}"></div></a>
            <div class="item-body">
                <span class="item-title">{{ product.name }}</span>
                <div>
                    <span class="item-value">{{ product.quantity }}кг</span>
                    <span class="item-price">{{ product.price }}<span>&nbsp;₸</span></span>
                    <a href="{% url 'add_card' product.id %}"  class="item-cart"><i class="bi bi-cart-plus"></i></a>
                </div>
            </div>
        </div>
         {% endfor %}
        
    </div>

    <div id="product-in" class="product-in fixed-bottom">
        <div class="product-in-header">
            <span>Яблоко</span>
            <i onclick="closeProductIn()" class="bi bi-x-lg"></i>
        </div>
        <div class="product-in-body">
            <div><img src="./img-product/apple.jpg"></div>
            <span>1 кг</span>
            <span>2 815 ₸</span>
            <button onclick="addToCart()">Добавить в корзину</button>
        </div>
    </div>
</main>
{% endblock %}



{% block dopolnenie %}
        <div class="footer-bottom-nav">
            <div>
                <h2>В главных ролях</h2>
                <audio id="audio" src="{% static 'audio/mem.mp3' %}"></audio>
                <button id="playAudio"><i class="bi bi-play-fill"></i></button>
                <span class="typing" id="typingText"></span>
            </div>
        </div>
{% endblock %}